 /* calc ( (parent width - sum of gaps) / quantity of siblings ) */

body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

.container { 
	max-width: 1158px;
	margin: 0 auto;
	padding: 0 15px
}

.section {
	padding: 120px 0;
}

.logo {
	font-family: "Raleway", sans-serif;
	margin-right: 76px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: #4d5ae5;
}

.page-header {
	border-bottom: 1px solid #E7E9FC;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	column-gap: 332px;
}

.page-header .logo-part {
	color: #2e2f42;
}

.page-header a {
	padding: 24px 0;
}

.page-footer .logo-part {
	color: #f4f4fd;
}

.header-nav {
	display: flex;
	align-items: center; 
}

.nav-list {
	display: inline-flex;
	gap: 40px;
}

.nav-link {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
	text-decoration: none;
}

.contacts {
	display: flex;
	align-items: center;
	font-style: normal;
}

.contacts-list {
	display: flex;
	gap: 40px;
}

.contacts-link {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
	color: #404bbf;
}

.hero {
	background-color: #2e2f42;
	padding: 188px 0;
	display: flex;
}

.hero-heading {
	max-width: 496px;
	margin-bottom: 48px;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
}

.order-button {
	min-width: 169px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 16px 32px;
	border-radius: 4px;
	border: none;
	color: #fff;
	background: #4d5ae5;
	display: block;
	margin: auto;
}

.order-button:hover,
.order-button:focus {
	background-color: #404bbf;
}

.subtitle {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.desc {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.benefits-list {
	display: flex;
	gap: 24px;
}

.benefits-list .benefits-item, .team-item {
	width: calc((100% - 72px) / 4);
}

.team {
	background-color: #f4f4fd;;
}

.team-heading, .portfolio-heading {
	margin-bottom: 72px;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
}

.team-list {
	display: flex;
	gap: 24px;
}

.team-item, .portfolio-item {
	background: #fff;	
	border-radius: 0px 0px 4px 4px;
}

.team-member {
	padding: 32px 0;
	text-align: center;
}

.team-item > .subtitle,
.team-item > .desc {
	text-align: center;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-info {
	padding: 32px 16px;
	border: 1px solid #E7E9FC;
	border-top: transparent;
}

.page-footer {
	padding: 100px 0;
	background: #2e2f42;
}

.page-footer .logo {
	display: inline-block;
	margin-bottom: 16px;
}

.page-footer .desc {
	color: #f4f4fd;
	width: 264px;
}